{{ partial "global-header.html" . }}

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <div class="container">

    <div id="contact-box" class="row bottom-line">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box2.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fas fa-map-marker-alt"></i>{{ .box2.address }}
            </li>
            <li>
              <i class="fas fa-envelope"></i>Email: <a href="mailto:{{ .box2.email }}">{{ .box2.email }}</a>
            </li>
            <li>
              <i class="fas fa-phone"></i>{{ .box2.phone }}
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>{{ .box.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fas fa-map-marker-alt"></i>{{ .box.address }}
            </li>
            <li>
              <i class="fas fa-envelope"></i>Email: <a href="mailto:{{ .box.email }}">{{ .box.email }}</a>
            </li>
            <li>
              <i class="fas fa-phone"></i>{{ .box.phone }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="contact-box" class="row bottom-line">
      <div class="col-md-12 col-sm-12">
        <div class="block">

          <h2>Contact Form</h2>

          <form class="row" action="https://formspree.io/{{.form.mail}}" method="POST">
            <div class="col-md-6 col-sm-12">
              <div class="block">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="{{ .form.name }}">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="{{ .form.email }}">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="{{ .form.subject }}">
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="block">
                <div class="form-group-2">
                  <textarea class="form-control" rows="3" placeholder="{{ .form.message }}"></textarea>
                </div>
                <button class="btn btn-default" type="submit">{{ .form.button }}</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div id="contact-box" class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">

          <h2>Social</h2>

          <ul class="social-icons">
            {{ range .social }}
            <li>
              <a href="{{ .url }}"><i class="fab fa-linkedin-in"></i></a>
            </li>
            {{ end }}
          </ul>

        </div>
      </div>
    </div>

  </div>
  </div>
</section>
{{ end }}