{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- Service Start -->
<section id="service">
  <div class="container">

        
    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Params.team.title }}</h2>
        <p>{{ .Site.Params.team.subtitle }}</p>
      </div>
    </div>

    <div class="row flexbox{{ if .Site.Params.team.center }} flexbox-center{{ end }}">
      {{ range .Site.Params.team.members }}
        <div class="col-sm-6 col">
          <div class="team-member">
            {{ $url := printf "img/team/%s" .img }}
            <img src="{{ with .img }} {{ . | absURL }} {{ end }}" class="img-responsive center" alt="{{ .name }}">
            <h3>{{ .name | markdownify }}</h3>

            {{ with .position }}
            <h4>{{ . | markdownify }}</h4>
            {{ end }}
            {{ with .reportsTo }}
            <h5 class="report">Reports to {{ . | markdownify }}</h5>
            {{ end }}

            {{ with .livesIn }}
            <h5>{{ . | markdownify }}</h5>
            {{ end }}

            <ul class="list-inline social-buttons">
              {{ range .social }}
                <li><a href="{{ index . 1 }}"><i class="{{ index . 0 }}"></i></a></li>
              {{ end }}
            </ul>

          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>